{% extends "base.html.jinja" %}
{% block content %}
    <p>Ceneo Web Scraper służy do pobierania informacji dotyczących opinii wybranego produktu w sklepie internetowym Ceneo.pl.</p>
    <p>Aby pobrać dane przejdź do zakładki "Pobierz produkt", a następnie wprowadź kod ID produktu.</p>
{% endblock content %}