{% extends "base.html.jinja" %}
{% block content %}
    <h1>Nazwa produktu <a href="https://www.ceneo.pl/{{product_id}}" class="link">{{stats["product_name"]}}</a></h1>
        <p>ID produktu: {{product_id}}</p>
        <p>Liczba opinii: {{stats["opinions_count"]}}</p>
        <p>Łączna liczba zalet w opiniach: {{stats["pros_count"]}}</p>
        <p>Łączna liczba wad w opiniach: {{stats["cons_count"]}}</p>
        <p>Średnia ocena produktu: {{stats["average_score"]}}</p>

    <h2 class="con">Statystyki</h2>
        <div class="row">
            <div class="col">
                <img src="../static/plots/{{product_id}}_recommendations.png" alt="Recommendations" class="img-fluid pb-3">
            </div>
            <div class="col">
                <img src="../static/plots/{{product_id}}_stars.png" alt="Stars" class="img-fluid">
            </div>
        </div>
{% endblock content %}